.container {
  width: 46rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
}

.content {
  margin-top: 4rem;
}

.tasksContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.createdTasks {
  color: var(--blue);
  font-weight: 700;
}

.completedTasks {
  color: var(--purple);
  font-weight: 700;
}

.tasksContent span {
  color: var(--gray-200);
  background: var(--gray-400);
  margin-left: 0.5rem;
  padding: 0.125rem 0.5rem;
  border-radius: 8px;
  font-size: 0.75rem;
}

.taskContainer {
  margin-top: 2rem;
  overflow-y: auto;
  max-height: calc(100vh - 28rem);
  padding-right: 0.2  5rem;
}